*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}
.container{
   margin-left: 90px;
   margin-right: 90px;
   margin-top: 250px;
}

.AllDetails{

    background-color: white;
  text-align: center;
  width: 802px;
  border-radius: 4px;
  height: 420.55px;
  margin: 0 auto; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  margin-top: -55px;
}
.AllDetails .left{
    width: 40%;
    background-color:#1a4496;
    float: left;
    padding-bottom: 37px;
border-radius: 9px;
}
.AllDetails .right{
}
.AllDetails .left h2{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 9px;
}
.AllDetails .left h4{
    color: #fff;
    font-size: 1.1rem;

    font-weight: 500;
}
.AllDetails .left img{
    margin-top: 44px;
   width: 77%;
   height: 54%;
   margin-bottom: 9px;
   border-radius: 6px;
}
.AllDetails .right .writing {
text-align: center;
}
.AllDetails .right .writing h1{
letter-spacing: 7px;
font-weight: 500;
padding-top: 33px;
text-transform: uppercase;
}

.AllDetails .right .writing hr {
    width: 50%;  
    margin-top: 15px; 
    float: right;
    margin-right: 43px;

}
.AllDetails .right .second .secondOne {
    float: right;
    margin-top: 12px;
    font-size: 2rem;
    color: black;
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: none;
    margin-right: 107.5px;

}
.AllDetails .right .second .first{
    font-size: 1.3rem;
    color: black;
    font-weight: 700;
    margin-top: 12px;
    margin-left: 45px;

    text-decoration: none;
float: left;}
.AllDetails .right .second .leftSide{
    font-size: 1.3rem;
    color: black;
    font-weight: 400;
    margin-top: 12px;
    margin-left: -62px;
    margin-top: 50px;
    text-decoration: none;
    float: left;}

.AllDetails .right .second .RightSide{
    margin-right: 15px;
    font-size: 1.3rem;
    color: black;
    font-weight: 400;
    margin-top: 12px;
    margin-left: 47px;
    text-decoration: none;
    float: right;
}
.AnimationPart{
    margin-top: 189px;
}
.AnimationPart a{
    font-size: 30px;
    padding: 16px;
    color: #fff;
    background-color: #1a4496;
    margin-left: 19px;
}

.AnimationPart a i{
    font-size: 32px;
}